* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Outfit;
}

.header {
    margin: 0 10%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
}

.q-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    height: 50vh;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}

.q-block .q-category {
    display: none;
}

.q-block .q-text {
    font-size: 60px;
    margin-bottom: 60px;
    font-weight: 300;
}

.q-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    font-family: inter;
    font-weight: bold;
}

.q-option:link,
.q-option:visited,
.q-option {
    width: 40%;
    background-color: rgba(200, 200, 200, 0.089);
    display: inline-block;
    border-radius: 100px;
    padding: 20px 50px;
    margin: 10px 0;
    position: relative;
    border: 2px solid transparent;
    cursor: pointer;
}



.q-option::before {
    content: '';
    position: absolute;
    border-radius: 100px;
    border-top: 5px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(to bottom, rgba(110, 108, 108, 0.376), rgba(255, 255, 255, 0.109));
    box-sizing: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1000;
    margin: -5px;
    transition: all 0.2s;
}

.q-option:hover::before {
    background-color: #d20094;
}

.q-count {
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.q-count span {
    color: #d20094;
} 