* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url('../assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Outfit;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    text-align: center;
}

.welcome-body{
    align-content: center;
    margin: 5% 10%;
}



.heading-welcome h1{
    margin-bottom: 30px;
    margin-top: 60px;
    font-size: 80px;
    line-height: 65px;
    font-weight: 700;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.instructions-container .heading {
    color: #D20094;
    font-size: 32px;
}

.instructions-container .text {
    max-width: 60%;
    font-size: 18px;
    font-weight: 100;
}

.instructions-list {
    margin: 40px 25px;
    font-size: 18px;
    font-weight: 100;
}

.instructions-list .list-item {
    margin: 5px;
}

.proceed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
}

.proceed .text {
    margin: 0 10px;
    font-weight: 700;
}

.check-container {
    display: flex;
}

.checkbox {
        -webkit-appearance: none;
        border: 2px solid #cacece;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
        padding: 9px;
        display: inline-block;
        position: relative;
}

.checkbox:active,
.checkbox:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
	border: 2px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}

.checkbox:checked:after {
    content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: white;
}

.proceed-button:link,
.proceed-button:visited,
.proceed-button {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.829);
    font-weight: 700;
    background-color: #0ff;
    font-size: 24px;
    padding: 15px 60px;
    box-shadow: 5px 5px 20px;
}

.proceed-button:hover {
    box-shadow: 2px 2px 30px rgba(0, 255, 255, 0.493),
                -2px -2px 30px rgba(0, 255, 255, 0.561);
}

